<nav>
    <div class="nav-content-left">
        <div class="nav-logo">
            <img src="\assets\img\film.svg">
            <div>DSMovie</div>
        </div>
        <div class="search">
            <img src="\assets\img\SearchIcon.svg">
            <input type="search" placeholder="Buscar...">
        </div>
        <div class="buttons">
            <button type="button">Filmes</button>
            <button type="button">Séries</button>
            <button type="button">Animes</button>
        </div>
    </div>
    <div class="nav-content-right">
        <img  height="27" width="27" src="assets\img\github.svg">
        <span>Github</span>       
    </div>
</nav>
